<div class="container">

    <h1>LISTADO DE CONTACTOS</h1>
    <table class="table table-striped">
	    <thead>
		    <tr>
                <th scope="col">#</th>
			    <th scope="col">ID</th>
			    <th scope="col">NOMBRE</th>
			    <th scope="col">APELLIDOS</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr *ngFor="let contacto of listaContactos; index as i">
			    <th scope="row">{{ i + 1 }}</th>
			    <td>				
					<a routerLink="detalle-contacto/{{contacto.id}}">{{ contacto.id }}</a>
			    </td>
			    <td>{{ contacto.first_name }}</td>
			    <td>{{ contacto.last_name }}</td>
		    </tr>
	    </tbody>
		
		<tfoot>
			<tr>
				<td colspan= "4">Para mas informacion pulse sobre el ID que desee.</td>
			</tr>
		</tfoot>
    </table>
</div>
