<div class="container">
    <button class="btn btn-primary" routerLink="/creaAlumno">NUEVO ALUMNO</button>
    <br>
    <br>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">CURSO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <th scope="row">{{alumno.data.idAlumno}}</th>
                <td>{{alumno.data.nombre}}</td>
                <td>{{alumno.data.apellidos}}</td>
                <td>{{alumno.data.curso}}</td>
                <td><button class="btn btn-primary" routerLink="/edit-Alumno/{{alumno.id}}">EDITAR</button></td>
            </tr>
        </tbody>
    </table>
</div>